aiohttp
aiozmq
aiohttp_cors
msgpack-python
potion_client>=2.5.1
requests
redis
codecov
gunicorn
uvloop
pytest
pytest-asyncio==0.5.0
pytest-cov==2.4.0
https://github.com/biosustain/venom/archive/feat/json.zip
raven==6.4.0
