aiohttp
aiozmq
aiohttp_cors
msgpack-python
potion_client>=2.5.1
requests
redis
codecov
gunicorn
uvloop
venom==2.0.0
raven==6.4.0

# Testing and QA
flake8
pytest
pytest-asyncio
pytest-cov
codecov
isort
